# Python Programming: Essentials 1

#### Variables are used to store values. 

#### A string is a series of characters, surrounded by single or double quotes.

Hello world

In [3]:
print("Hello World") #print() is your first function

Hello World

Hello world via a variable. NOTE PYTHONE IS CASE SENSITIVE.

In [4]:
message = "Hello Class!" # assigning a string to a variable
print(message) # message is a variable

Hello Class!



Concatenation (combining strings)

In [8]:
first_name = 'Sam' 
last_name = 'Muller' 
full_name = first_name + ' ' + last_name +' '
print(full_name)

Sam Muller

In [11]:
full_name

'Sam Muller '

In [9]:
# little funny one: multiply words! 
print(full_name * 5)

Sam Muller Sam Muller Sam Muller Sam Muller Sam Muller

In [10]:
print(first_name , last_name ) # the comma adds a space automatically

Sam Muller



## List

A list stores a series of items in a particular order. 

You access items using an index, or within a loop. 
Make a list

In [12]:
bicycles = ['mountain', 'road', 'race', 'penny-farthing']

print(bicycles)

['mountain', 'road', 'race', 'penny-farthing']

In [14]:
addon = ['raleigh' , 'brompton'] 

bicycles = bicycles + addon # add a list to a list

print(bicycles)
#YOU CANT ADD A STRING TO A LIST. e.g.
# bicycles = bicycles + 'peugeot'
#Instead use:
# bicycles = bicycles + ['peugeot']

['mountain', 'road', 'race', 'penny-farthing', 'raleigh', 'brompton']

Get the first item in the list

In [17]:
first_bike = bicycles[0]  # list[position]
print (first_bike)
print (bicycles[0])

mountain
mountain

In [16]:
third_bike = bicycles[2]  # list[position]
print (third_bike)

race

Get the last item in the list

In [18]:
last_bike = bicycles[-1]
print(last_bike)

brompton

In [ ]:
# write code to print the penultimate (i.e. one before last) bike
second_last = bicycles[4]
print(second_last)

In [ ]:
one_b4_last = bicycles[-2]
print(one_b4_last)

# Working with Strings

## split() function

In [20]:
# the function split() cuts a string at specified character position then store the result in a list

sentence = "Ask: 'UK house prices grew two per cent year on year for September.'"

words = sentence.split(' ')

print(words)

['Ask:', "'UK", 'house', 'prices', 'grew', 'two', 'per', 'cent', 'year', 'on', 'year', 'for', "September.'"]

In [21]:
url = 'https://www.standard.co.uk/news/politics/brexit-secretary-dominic-raab-quits-his-post-a3990626.html'

elements = url.split('/')
print(elements)

['https:', '', 'www.standard.co.uk', 'news', 'politics', 'brexit-secretary-dominic-raab-quits-his-post-a3990626.html']

In [22]:
# adapt to get the first and second part from an email address

email = "trainingsupport@pairview.co.uk"

########## your code below#############

parts = email.split('@')
print(parts)

individual = parts[0]
company = parts[-1]
print(individual,company)

['trainingsupport', 'pairview.co.uk']
trainingsupport pairview.co.uk

In [ ]:
# write code to get the first name and the last name from the full name that 
# can include 1 or many middle names

################your code################
myname = "Elizabeth Alexandra Mary Windsor"

parts = myname.split(' ')
print(parts)

In [23]:
first_name= parts[0]
last_name = parts[-1]
print(first_name,last_name)

['Elizabeth', 'Alexandra', 'Mary', 'Windsor']
Elizabeth Windsor

In [30]:
cutfurther = myname.split('a')
cutfurther

['Eliz', 'beth Alex', 'ndr', ' M', 'ry Windsor']

## join() function

In [33]:
# the function join() take a list of strings and concatenate its elements separated by the character passed to it
separator =' '
sentence = separator.join(words)
# sentence = ' '.join(words)

print(sentence)

Ask: 'UK house prices grew two per cent year on year for September.'

## strip() function

In [48]:
# the function strip() removes unwanted characters (spaces usually) 
# at the beginning and ending of a string
stri = "0000000@@this is a polluted # string example@@0000000"
clean = stri.strip('0').strip('@').strip()
print(clean)

#strip() is equivalent to strip(' ')

this is a polluted # string example

## replace(old_word,new_word) function

In [49]:
# and now I present you the function replace
clean = clean.replace('polluted # ','cleaned ')
print(clean)

this is a cleaned string example

# for in statement
### Looping through a list

In [58]:
bicycles = ['mountain', 'road', 'race', 'penny-farthing']

c = 1

for bike in bicycles: 
    print(c, ': ',bike)#anything indented is in the for loop.
    c = c+1            #indentation has to be the same. 4 spaces by default.
    
print('this is outside the loop')

1 :  mountain
2 :  road
3 :  race
4 :  penny-farthing
this is outside the loop

## range () function

In [59]:
for i in range(0,4): #for i = 0 to 3 do in C++
    print(i)

0
1
2
3

In [60]:
for i in range(4): #equivelent to range(0,4,1)
    print(i)

0
1
2
3

In [61]:
for i in range(1,7,2): #the list end at 6 and starts at 1, that is why 7 is not included
    print(i)

1
3
5

In [62]:
# loop above equivalent to 

for i in range(0,4): #for i = 0 to 3 do in C++
    print(i+1, ' : ', bicycles[i])  #We are not assigning anything to i, just printing it.

1  :  mountain
2  :  road
3  :  race
4  :  penny-farthing

In [ ]:
# range function tester

In [63]:
for number in range(8): # one only attribute = range(0,8)
    print(number)

0
1
2
3
4
5
6
7

In [64]:
for number in range(2,8): # first is start , second the one before
    print(number)

2
3
4
5
6
7

In [65]:
for number in range(2,8,2): # first is start , second the one before the last # 3rd the step
    print(number)

2
4
6

## Adding items to a list

In [ ]:
# add another string
bicycles.append('peugeot')
print(bicycles)

In [70]:
# equivalent to 
bicycles = bicycles  +  ['peugeot']
print(bicycles)

['mountain', 'road', 'race', 'penny-farthing', 'peugeot', 'peugeot', 'peugeot', 'peugeot', 'peugeot', 'peugeot']

In [76]:
#bicycles.remove('peugeot') #removes the 1t instance in the list of the attribute
#print(bicycles)

In [ ]:
#for i in range(0,4): #for i = 0 to 3 do in C++
#    bicycles[i] = bicycles[i]+ ' bike'

In [77]:
# aside: insert
bicycles.insert(2,'BMX')
print(bicycles)

['mountain', 'road', 'BMX', 'race', 'penny-farthing', 'peugeot']

In [79]:
# add a number!
bicycles.append(22)
print(bicycles)

['mountain', 'road', 'race', 'penny-farthing', 'peugeot', 22]

In [78]:
bicycles.remove('BMX') #removes the 1t instance in the list of the attribute
print(bicycles)

['mountain', 'road', 'race', 'penny-farthing', 'peugeot']

In [83]:
bicycles.pop() # removes the last item in the list
print(bicycles)

['mountain', 'road', 'race', 'penny-farthing', 'peugeot', ['derailleur', 'shimano']]

In [82]:
# add a list!!
bicycles.append(['derailleur','shimano']) 
print(bicycles)

#YOU CAN ADD ANYTHING!!!

['mountain', 'road', 'race', 'penny-farthing', 'peugeot', ['derailleur', 'shimano'], ['derailleur', 'shimano']]

In [86]:
# Code for accessing the second item in the list inside the list
print(bicycles[-1][-1])
print(bicycles[0][0]) #strings are treated like lists you can select the first letter of the string.

shimano
m

## Making numerical lists

In [87]:
# initialisation 
cubes = [] 

for number in range(1, 7): 
    cubes.append(number**3) # **3 means to the power 3

print(cubes)

# ** operator is power

[1, 8, 27, 64, 125, 216]

In [105]:
# write code to calculate the average of numbers from 5 to 15
# the average is the sum divided by the number of elements

series = [5,6,7,8,9,10,11,12,13,14,15]
#range(5,16)

#If you re-run this code it will give you values from the previous run, that is why initialise.
#print(total)
#print(count)

# initialisation
total = 0
count = 0

# in loop
for number in series:
    total = total + number
    count = count + 1

#after loop
average = total / count
print(average)

10.0

## len() function

In [106]:
# the amazing Len function - aka the length of everything
#len()    
   
l = len (range(5,16)) #number of
print(l)

print( len (bicycles)) #number of

print(len('guardian')) #number of characters

11
6
8

# List comprehensions : Advanced

In [ ]:
cubes = [x**3 for x in range(1, 7)] 
print(cubes)
# equivalent to

In [ ]:
cubes = [] 
for x in range(1, 7): 
    cubes.append(x**3) 
print(cubes)

## List comprehension exercise 

Write one line of Python that takes this list and makes a new list that has only the even elements of this list in it.

In [ ]:
list = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Slicing a list

In [107]:
finishers = ['Sue','Elliot', 'Kumiko','Damien'] 
first_two = finishers[:2] # all up to 2 but not 2
print(first_two)

['Sue', 'Elliot']

In [108]:
last_two = finishers[2:] # from 2 (included) up to end
print(last_two)

['Kumiko', 'Damien']

In [109]:
f = finishers[:2] + finishers[2:]
print(f)

['Sue', 'Elliot', 'Kumiko', 'Damien']

In [110]:
last_two = finishers[-2:]
print(last_two)

['Kumiko', 'Damien']

## index() function
index function returns the first occurence in the list

In [113]:
finishers = ['Sue','Elliot', 'Kumiko','Damien','Elliot'] 
number = finishers.index('Kumiko')
print(number)

2

In [114]:
# want a table with the position next to the element
finishers = ['Sue','Elliot', 'Kumiko','Damien','Elliot'] 
print('Index | Finisher')
for f in finishers:
    print(finishers.index(f), '    | ',f)
# index function returns the FIRST occurence in the list
# a.k.a. vlookup in Excel

Index | Finisher
0     |  Sue
1     |  Elliot
2     |  Kumiko
3     |  Damien
1     |  Elliot

In [115]:
finishers = ['Sue','Elliot', 'Kumiko','Damien','Elliot'] 
L =len(finishers)
print('Index | Finisher')
for number in range(0,L):
    print(number  , ' | ',finishers[number])

Index | Finisher
0  |  Sue
1  |  Elliot
2  |  Kumiko
3  |  Damien
4  |  Elliot

Copying a list

In [116]:
copy_of_bicycles = bicycles[:] 
print(copy_of_bicycles)

# if you  do copy_of_bicycles = bicycles, copy_of_bicycles will be an alias to bicycles.
# for certain functions.

['mountain', 'road', 'race', 'penny-farthing', 'peugeot', ['derailleur', 'shimano']]

### Tuples

Tuples are similar to lists, but the items in a tuple can't be modified.

Making a tuple

In [117]:
# tuple of numbers
dimensions = (1920, 1080)

# tuples of tuples
pushbikes= ('mountain', 'road', 'race', 'penny-farthing')

#tuple of different types of variables
hold_all = (35, 'Data Science', [1,2,3,4,5], (1,7))

print(hold_all)

# lists can be modified 
bicycles[0]='raleigh'
print(bicycles)

(35, 'Data Science', [1, 2, 3, 4, 5], (1, 7))
['raleigh', 'road', 'race', 'penny-farthing', 'peugeot', ['derailleur', 'shimano']]

In [118]:
#hold_all[0]= 34

print(hold_all[0])

35

### If statements are used to test for particular conditions and respond appropriately.

# if (condition) : action

In [119]:
# If statement
age = 25
commonwealth = True
if age >= 18: 
    print("You may be able to vote")

You may be able to vote

In [124]:
if (age >= 18 and commonwealth == True):
    print("You can vote!")

You can vote!

In [125]:
#If-elif-else statements 
if age < 4: 
    price = 0
    print('Kids go free')
elif age < 18: price = 10 
elif age > 65: price = 12
else: price = 15

print(price)

15

Conditions

tests equals
x == 42 

not equal 
x != 42  

greater than 
x > 42 

greater than or equal to
x >= 42 

less than
x < 42 

less than or equal to
x <= 42

In [127]:
x = 57 # i assign 57 to x
# (x<42) is  a test with a value of True of False
#print('is x smaller than 42?', x < 42)

X =(x > 42 )

print(X)
print(x<42)

True
False

In [128]:
test = 50
x = (test!= 55)

if x :
    print(x)

True

## Conditional test with lists 
## IN
## NOT IN

In [129]:
print('downhill' in bicycles)

False

In [130]:
print('downhill' not in bicycles)

True

In [132]:
if 'downhill' not in bicycles:
    bicycles.append('downhill')

Assigning boolean values

In [133]:
game_active = True 
can_edit = False

if game_active or can_edit:
    print('yay')

yay

# Exercise

Take a list of numbers
and write a program that prints out all the elements of the list that are less than 5.

In [138]:
# set list

List = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# your code below

for x in List:
    if x < 5:
        print(x)

1
1
2
3

In [ ]:
for x in List:
    if x < 5 : print(x)

In [ ]:
# i want to put in a new list the odd numbers

# modulo operation % gives the remainder of division
# div operation // that preforms an integer division
print(5 % 2)
print(5 // 2)

In [141]:
# i want to put in a new list the odd numbers
odds = []

for x in List:
    if x % 2 != 0: odds.append(x)

print(odds)

[1, 1, 3, 5, 13, 21, 55, 89]

In [142]:
# i want to put in a new list the odd numbers
odds = []

for x in List:
    if x // 2 != x/2: odds.append(x)

print(odds)

[1, 1, 3, 5, 13, 21, 55, 89]

In [143]:
Result = [number for number in List if number < 5] 
print(Result)
print(len(Result))

[1, 1, 2, 3]
4

In [ ]:
# initialisation
count = 0

for x in List:
    if x < 5 : 
        print(x)
        count = count + 1
print('numbers under 5 : ',count)

In [ ]:
# extra: create a list of random number using the
# random generator below

# Dictionaries 
they store connections between pieces of information

Each item in a dictionary is a key-value pair

Simple dictionaries {}

In [145]:
word_frequency = {'Data' : 14, 'Science': 10, 'Machine': 5, 'Learning' : 8}


real_dictionary = {'a': 'string that defines a', 'abc': 'definition of abc'}


# with different value types
car = {'make' : 'Mazda', 'model' : '3 sport', 'engine_size_cc': 2259,
       'colour': 'laser blue', 'dimensions_mm' : {'w':1795 , 'l':4465 , 'h':1465}}

Accessing a value

In [146]:
print("The car colour is " + car['colour'])
# dict[key] accesses the value in key , value pair

The car colour is laser blue

In [150]:
#write code to retrieve the dictionary inside the dictionary
print(car['dimensions_mm'])

{'w': 1795, 'l': 4465, 'h': 1465}

In [151]:
# retrieve the value in the dictionary inside the dictionary

print('car length is', car['dimensions_mm']['l'], 'mm')

car length is 4465 mm

In [152]:
Adding a new key-value pair
car = {'make' : 'Mazda', 'model' : '3 sport', 'engine_size_cc': 2259,
       'colour': 'laser blue', 'dimensions_mm' : {'w':1795 , 'l':4465 , 'h':1465}}

SyntaxError: invalid syntax (<ipython-input-152-5846100e9681>, line 1)

In [155]:
car['transmission_type'] = 'automatic'
car['colour'] = 'blood red'
# dic[key] = value
print(car)

{'make': 'Mazda', 'model': '3 sport', 'engine_size_cc': 2259, 'colour': 'blood red', 'dimensions_mm': {'w': 1795, 'l': 4465, 'h': 1465}, 'transmission_type': 'automatic'}

Values, Keys and Items

In [154]:
print('list of tuples in the dictionary','\n',car.items(),'\n')  #items() returns tupel

list of tuples in the dictionary
 dict_items([('make', 'Mazda'), ('model', '3 sport'), ('engine_size_cc', 2259), ('colour', 'laser blue'), ('dimensions_mm', {'w': 1795, 'l': 4465, 'h': 1465}), ('transmission_type', 'automatic')])

In [157]:
print('list of keys','\n',car.keys(),'\n')

list of keys
 dict_keys(['make', 'model', 'engine_size_cc', 'colour', 'dimensions_mm', 'transmission_type'])

In [158]:
print('list of values','\n',car.values(),'\n')

list of values
 dict_values(['Mazda', '3 sport', 2259, 'blood red', {'w': 1795, 'l': 4465, 'h': 1465}, 'automatic'])

Looping through all keys

In [156]:
# for keys in dictionary:

for k in car.keys(): 
    print(k + ' is a car characteristic')

make is a car characteristic
model is a car characteristic
engine_size_cc is a car characteristic
colour is a car characteristic
dimensions_mm is a car characteristic
transmission_type is a car characteristic

Looping through all the values

In [163]:
# write code to loop through all the values

for v in car.values(): 
    print(v)

Mazda
3 sport
2259
blood red
{'w': 1795, 'l': 4465, 'h': 1465}
automatic

Looping through all key-value pairs

In [164]:
for k,v in car.items():
    print(k , 'is', v)

make is Mazda
model is 3 sport
engine_size_cc is 2259
colour is blood red
dimensions_mm is {'w': 1795, 'l': 4465, 'h': 1465}
transmission_type is automatic

In [165]:
Tuples_List = [(1,2,3) , (4,5,6) , (7,8,9)]

for a , b , c in Tuples_List:
    print(a*b/c)

0.6666666666666666
3.3333333333333335
6.222222222222222

In [167]:
#Write a Python script to concatenate following dictionaries to create a new one. 

#Sample Dictionary : 
dic1={1:'Royal Dutch Shell', 2:'BP'} 
dic2={3:'Total', 4:'Volkswagen'} 
dic3={5:'Glencore Xstrata',6:'Gazprom'}

# initialisation
final_dic = dic1

for k,v in dic2.items():
    final_dic[k] = v

for k,v in dic3.items():
    final_dic[k] = v
    
print(final_dic)

{1: 'Royal Dutch Shell', 2: 'BP', 3: 'Total', 4: 'Volkswagen', 5: 'Glencore Xstrata', 6: 'Gazprom'}

In [ ]:
# Write a Python script to check if a given key already exists in a dictionary.

test_number = 7
key_in_dictionary = False

### your code ####
        

key_in_dictionary = test_number in final_dic.keys()

if key_in_dictionary : print(test_number, ' is a key already in the dictionary')
else: print(test_number, ' is not a key already in the dictionary')

### Programs can prompt the user for input. 
All input is stored as a string. 

Prompting for a value

In [168]:
# prompting for a value
name = input("What's your name? ") 
print("Hello, " + name + "!")

What's your name? sam
Hello, sam!

In [171]:
# prompting for a number

age = input("How old are you? ") #return a string
age = int(age) #convert
print(age*7)

How old are you? 5
35

In [170]:
pi = input("What's the value of pi? ") 
print(pi)
pi = float(pi)

What's the value of pi? 3.14
3.14

# Exercise
Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old.

In [173]:
#initialisation
current_year = 2019

name = input("What's your name? ") 
age = input("How old are you? ") #return a string
age = int(age) #convert

wait = 100 - age
year  = current_year + wait

print("Hello,", name, 'you will turn 100 years old in', year)

What's your name? Sam
How old are you? 39
Hello, Sam you will turn 100 years old in 2080

In [176]:
# Write a Python program that prompts for a month name and converts it to a number of days.
#List of months: January, February, March, April, May, June, July, August
#, September, October, November, December                                

# Example
#Input the name of Month: February                                       
#No. of days: 28/29 days 

months = {'January': 31, 'February':28, 'March':31, 'April':30, 'May':31, 'June':30, 'July':31, 
          'August':31, 'September':30, 'October':31, 'November':30, 'December':31}
name = input('What month? ')
print('No of days',months[name])

What month? April
No of days 30

In [174]:
y = 2011//4 # round division
z = 2011/4 # standard division
w = 2011 % 4 # modulo or remainder
print(y)
print(z)
print(w)

502
502.75
3